@charset "UTF-8";

:root {
    --font: Arial, Helvetica, sans-serif;
    --cor1: black;
    --cor2: white;
    --cor3: gray;
}

* {
    font-family: var(--font);
    margin: 0;
    padding: 0;
    a{
        text-decoration: none;
        color: whitesmoke;
    }
    li {
        list-style: none;
        margin-top: 10px;
    }
}

body {
    background-color: lightgray;
}

header {
    background-color: var(--cor1);
    color: var(--cor2);
    padding: 10px;
    
}

header > h1 > #login {
    color: white;
    margin-right: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 50%;
    transition: .3s;
}

header > h1 > #login:hover {
    color: black;
    background-color: white;
    border-radius: 50%;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 6px;
    padding-right: 6px;
    margin-right: 20px;
}

header #text-mark {
    color: darkorange;
}
header h1 {
    padding-left: 20px;
    margin-top: 20px;
    font-size: 2.5em;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-around;
    background-color: black;
    z-index: 10;
    padding-bottom: 2px;
}

nav a {
    text-decoration: none;
    color: white;
    transition: .3s;
    padding: 5px;
}

nav a:hover {
    background-color: white;
    color: black;
    border-radius: 5px;
}

main #card {
    background-image: linear-gradient(-30deg, black, darkgray);
    background-size: 400% 400%;
    background-position: 70% 100%;
    position: relative;
    top: 50px;
    left: 30px;
    height: 12vw;
    width: 20vw;
    border-radius: 1vw;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.603);
    filter: saturate(0%);
    transition: .3s;
}

main > #fase1 > #card > img {
    position: relative;
    padding-top: 10%;
    padding-bottom: 30%;
    top: 2vw;
    left: 2vw;
    width: 20%;
}

main #fase1 {
    background: none;
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
}

main > #fase1 > #peça {
    margin-top: 40px;
    background-color: rgba(0, 0, 0, 0.486);
    border: 2px solid black;
    text-align: center;
    height: 55%;
    width: 30%;
    border-radius: 10px;
    padding-top: 5%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.356);
}

main > #fase1 > #peça > p {
    margin-top: 60px;
    padding-bottom: 10px;
}

main > #fase1 > #peça > p > button {
    border-radius: 10px;
    background-color: black;
    width: 50%;
    padding: 5%;
    color: white;
    cursor: pointer;
    transition: .3s;
    border: 1px solid black;
}

main > #fase1 > #peça > p > button:hover {
    border: 1px solid white;
    box-shadow: 0px 0px 5px white;
}

main > #fase2 {
    margin-top: 0;
}

main #fase2 {
    background-image: url(img/estudantes-universitarios-2.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    filter: saturate(100%);
    color: white;
    height: 35vh;
}

main #sobre {
    background-image: linear-gradient(140deg, rgba(0, 0, 0, 0.822) 100%, transparent);
    padding-left: 40px;
    padding-top: 40px;
    height: 88%;
    width: 50%;
    clip-path: polygon(0% 0%, 100% 0,70% 100%, 0% 100%);
}



main #sobre p {
    width: 75%;
    font-size: large;
}

main #como_ajudar {
    background-image: url(img/emocoes-puras-e-felicidade.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    filter: saturate(100%);
    color: white;
    height: 35vh;
    margin-top: 0;
}

main > #como_ajudar {
    display: flex;
    justify-content: right;
}

main > #como_ajudar > div {
    background-image: linear-gradient(140deg, rgba(0, 0, 0, 0.822) 100%, transparent);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    width: 50%;
    
    box-sizing: border-box;
    clip-path: polygon(0% 0%, 100% 0,100% 100%, 30% 100%);
    justify-content: right;
}




main > #como_ajudar > div > p {
    padding-left: 35px;
    text-align: right;
    margin-left: auto;
    width: 80%;
    font-size: large;
}

/*INICIO BENEFICIOS*/

.section2-beneficios {
    background-color: #1a1b0f;
    background-image: none;
    color: white;
    padding: 5%;
}

.section2-beneficios h1 {
    font-size: 2em;
    margin-bottom: 40px;
}

#beneficios-texto2  {
    margin: auto;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}

.beneficios-colunas3 {
    display: flex;
    justify-content: space-between;
    background-color: #1a1b0f;
    width: 100%;
}

.beneficios-colunas3-content {
    padding: 40px;
    background-color: rgba(103, 122, 122, 0.13);
    font-size: 1.2em;
    border-radius: 25px 25px 0 0;
    box-shadow:  3px 2px 20px 0px black;
    width: 20%;
}

.beneficios-colunas3-content p {
    margin-top: 30px;
    width: 100%;
}

/*FIM BENEFICIOS*/


/*INICIO FOOTER*/

footer {
    background-image: url(https://s.tmimgcdn.com/scr/800x500/297400/textura-de-fundo-preto-escuro_297412-original.jpg);     
    background-size: 10%;
    background-color: black; 
    color: whitesmoke;
    margin: auto;
    position: static;
    bottom: 0;
}

footer a:hover {
    color: rgb(212, 207, 207);
    transition: 0.35s;
}

.rodape {
    display: flex;
    justify-content: space-evenly;
    margin: 0 40px;

    
    
}
.div-campuscard-produtos, .div-explore-vejatambem {
    display: flex;
    justify-content: center;    
    margin: 0 30px;
    
}
.lista-campuscard-produtos-explore-vejatambem {
    margin: 0 120px;
    font-size: 1.0em;
    margin-top: 20px;
    
     
}
hr{ 
    border: 0.3px thin;    
    border-color: rgba(255, 255, 255, 0.486);
    width: 90%;    
    margin: 20px auto;

}
.footerbottom {
    display: flex;
    justify-content: space-between;
    align-items: center; /*alinhamento horizontal */
    padding: 7px;
}


.bottom {
    display: inline-flex;
    margin: 0 40px;
}


.div-copyright-privacidade-termos-parceiros > a {
    margin: auto 20px;
}


#copyright::before {
    content: '\00a9';
    margin-right: 5px;
}



.div-socialmedia > a {
    margin: auto 10px;
}


.div-socialmedia {    
    margin-inline-start: 50px;    
}


svg{
    width: 25px;
    height: 25px;
}

/*FIM FOOTER*/

@media (max-width: 1650px) {
    .lista-campuscard-produtos-explore-vejatambem {
        margin: 0 60px;
        font-size: 1.0em;
        margin-top: 20px;
    }
}

@media (max-width: 1220px) {
    .lista-campuscard-produtos-explore-vejatambem {
        margin: 0 20px;
        width: auto;
        margin-top: 20px;
    }
}

@media (max-width: 770px) {
    #card {
        transform: rotate(90deg);
        margin-top: 7%;
        transition: .3s;
    }

    #peça {
        padding-left: 15px;
        padding-right: 15px;
    }

    footer{
        margin: auto;
        width: auto;
    }
    .lista-campuscard-produtos-explore-vejatambem {
        font-size: auto;
        margin: 5px 10px;
        margin-top: 20px;

        
    }
    
    .div-campuscard-produtos, .div-explore-vejatambem {
        display: block;
        margin: 0 auto;
    }
    
    .footerbottom{
        display: flex;
        flex-direction: column;
    }
    .div-copyright-privacidade-termos-parceiros {
        order: 2;
        margin-top: 30px;
        font-size: 1em;
    }
    .div-socialmedia{
        order: 1;
        
    }
    .div-socialmedia > a {
        margin: auto 20px;
    }
}


@media (max-width: 680px) {
    main #sobre {
        background-image: linear-gradient(140deg, rgba(0, 0, 0, 0.822) 100%, transparent);
        padding-left: 40px;
        padding-top: 40px;
        height: 88%;
        width: 60%;
        clip-path: polygon(0% 0%, 100% 0,70% 100%, 0% 100%);
    }
    
 
    
    main #sobre p {
        margin-right: auto;
        font-size: medium;
    }



    main #como_ajudar {
        background-image: url(img/emocoes-puras-e-felicidade.jpg);
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
        filter: saturate(100%);
        color: white;
        height: 35vh;
        margin-top: 0;
    }
    
    main > #como_ajudar {
        display: flex;
        justify-content: right;
    }
    
    main > #como_ajudar > div {
        background-image: linear-gradient(140deg, rgba(0, 0, 0, 0.822) 100%, transparent);
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 40px;
        width: 70%;
        
        box-sizing: border-box;
        clip-path: polygon(0% 0%, 100% 0,100% 100%, 30% 100%);
        justify-content: right;
    }
    
    
    
    
    main > #como_ajudar > div > p {
        
        text-align: right;
        margin-left: auto;
        width: 80%;
        font-size: 1em;
        transition: 0.5s ease;
    }

    .section2-beneficios {
        background-color: #1a1b0f;
        background-image: none;
        color: white;
        padding: 0;
        margin: 0;
    }
    
    .section2-beneficios h1 {
        font-size: medium;
        margin-bottom: 40px;
        margin-top: 30px;
        margin-left: auto;
    }
    
    #beneficios-texto2  {
        margin: 30px;
        justify-content: center;
        margin-bottom: 20px;
    }
    
    .beneficios-colunas3 {
        display: flex;
        
        background-color: #1a1b0f;
        width: 100%;
    }
    
    .beneficios-colunas3-content {
        padding: 0;
        background-color: rgba(103, 122, 122, 0.13);
        font-size: 0.9em;
        border-radius: 25px 25px 0 0;
        box-shadow:  3px 2px 20px 0px black;
        width: 100%;
    }
    
    .beneficios-colunas3-content p {
        margin: 30px auto auto auto;
        width: 85%;
    }

    .beneficios-colunas3-content h3 {
        padding: 2px;
        font-size: 0.9em;
        text-align: center;
    } 
}