@charset "UTF-8";

:root {
    --font: Arial, Helvetica, sans-serif;
    --cor1: black;
    --cor2: white;
    --cor3: gray;
}

* {
    font-family: var(--font);
    margin: 0;
    padding: 0;
    a{
        text-decoration: none;
        color: whitesmoke;
    }
    li {
        list-style: none;
        margin-top: 10px;
    }
}
body {
    background-color: black;
    
    
}
main {
    width: 97%;
    background-color: #5ebbbe;
    padding: 15px;
    margin: auto;
    
}

header {
    background-color: var(--cor1);
    color: var(--cor2);
    padding: 10px;
    
}

header > h1 > #login {
    color: white;
    margin-right: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 50%;
    transition: .3s;
}

header > h1 > #login:hover {
    color: black;
    background-color: white;
    border-radius: 50%;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 6px;
    padding-right: 6px;
    margin-right: 20px;
}

header #text-mark {
    color: darkorange;
}
header h1 {
    padding-left: 20px;
    margin-top: 20px;
    font-size: 2.5em;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-around;
    background-color: black;
    z-index: 10;
    padding-bottom: 2px;
}

nav a {
    text-decoration: none;
    color: white;
    transition: .3s;
    padding: 5px;
}

nav a:hover {
    background-color: white;
    color: black;
    border-radius: 5px;
}
section h1 {
    font-size: 3em;
    
    
}


.box-content {
    margin: auto;
    text-align: justify;
    width: 80%;
    
   
    
}
.box-content p {
    font-size: 1.6em;
    text-align: justify;
    margin: 10px 0;
    
}
.box-content h2 {
    font-size: 2.2em;
}

.box-content h3 {
    text-align: justify;
}
#titulo {
    margin: 50px auto;
}

picture {
    margin: 0 auto;
    max-width: 100%;
   
    display: block;
    text-align: center;
}
#junte-se {
    display: flex;
    align-items: center;
}
#box-junte-se {
    width: 40%;
    font-size: larger;
    
}

footer {
    background-image: url(https://s.tmimgcdn.com/scr/800x500/297400/textura-de-fundo-preto-escuro_297412-original.jpg);     
    background-size: 10%;
    background-color: black; 
    color: whitesmoke;
    margin: auto;
    height: auto;
    margin-top: -19px;
}

footer a:hover {
    color: rgb(212, 207, 207);
    transition: 0.35s;
}

.rodape {
    display: flex;
    justify-content: space-evenly;
    margin: 0 40px;

    
    
}
.div-campuscard-produtos, .div-explore-vejatambem {
    display: flex;
    justify-content: center;    
    margin: 0 30px;
    
}
.lista-campuscard-produtos-explore-vejatambem {
    margin: 0 120px;
    font-size: 1.0em;
    margin-top: 20px;
    
     
}
hr{ 
    border: 0.3px thin;    
    border-color: rgba(255, 255, 255, 0.486);
    width: 90%;    
    margin: 20px auto;

}
.footerbottom {
    display: flex;
    justify-content: space-between;
    align-items: center; /*alinhamento horizontal */
    padding: 7px;
}


.bottom {
    display: inline-flex;
    margin: 0 40px;
}


.div-copyright-privacidade-termos-parceiros > a {
    margin: auto 20px;
}


#copyright::before {
    content: '\00a9';
    margin-right: 5px;
}



.div-socialmedia > a {
    margin: auto 10px;
}


.div-socialmedia {    
    margin-inline-start: 50px;    
}
svg{
    width: 25px;
    height: 25px;
}

@media (max-width: 1650px) {
    .ul1 {
        margin: 0 60px;
        font-size: 1.0em;
        margin-top: 20px;
    }
}

@media (max-width: 1220px) {
    .ul1 {
        margin: 0 20px;
        width: auto;
        margin-top: 20px;
    }
}

@media (max-width: 770px) {
    footer{
        margin: auto;
        width: auto;
    }
    .ul1 {
        font-size: auto;
        margin: 5px 10px;
        margin-top: 20px;

        
    }
    
    .col1 {
        display: block;
        margin: 0 auto;
    }
    .impar, .par{
        margin: 20px;

    }
    .footerbottom{
        display: flex;
        flex-direction: column;
    }
    .part1bot {
        order: 2;
        margin-top: 30px;
        font-size: 1em;
    }
    .part2bot{
        order: 1;
        
    }
    .part2bot > a {
        margin: auto 20px;
    }
}
