@charset "UTF-8";

:root {
    --font: Arial, Helvetica, sans-serif;
    --cor1: black;
    --cor2: white;
    --cor3: gray;
}

* {
    font-family: var(--font);
    margin: 0;
    padding: 0;
    a{
        text-decoration: none;
        color: whitesmoke;
    }
    li {
        list-style: none;
        margin-top: 10px;
    }
}

body {
    background-color: lightgray;
}

header {
    background-color: var(--cor1);
    color: var(--cor2);
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header h1 {
    padding-left: 20px;
    margin-top: 20px;
}

header nav {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

header nav a {
    text-decoration: none;
    color: white;
    transition: .3s;
    padding: 5px;
}

header nav a:hover {
    background-color: white;
    color: black;
    border-radius: 5px;
}

main #card {
    background-image: linear-gradient(-30deg, black, darkgray);
    background-size: 400% 400%;
    background-position: 70% 100%;
    position: relative;
    top: 50px;
    left: 30px;
    height: 200px;
    width: 30vw;
    border-radius: 20px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.603);
    filter: saturate(0%);
}

main > #fase1 > #card > img {
    position: relative;
    padding-top: 10%;
    padding-bottom: 30%;
    top: 30px;
    left: 30px;
    width: 20%;
}

main #fase1 {
    background: none;
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}

main > #fase1 > #peça {
    margin-top: 40px;
    background-color: rgba(0, 0, 0, 0.486);
    border: 2px solid black;
    text-align: center;
    height: 55%;
    width: 30%;
    border-radius: 10px;
    padding-top: 5%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.356);
}

main > #fase1 > #peça > p {
    margin-top: 60px;
}

main > #fase1 > #peça > p > button {
    border-radius: 10px;
    background-color: black;
    width: 50%;
    padding: 5%;
    color: white;
    cursor: pointer;
    transition: .3s;
    border: 1px solid black;
}

main > #fase1 > #peça > p > button:hover {
    border: 1px solid white;
    box-shadow: 0px 0px 5px white;
}

main section {
    background-image: url(img/estudantes-universitarios.avif);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    filter: saturate(100%);
    color: white;
    height: 35vh;
    margin-top:10px;
}

main #sobre {
    background-image: linear-gradient(140deg, rgba(0, 0, 0, 0.822) 100%, transparent);
    padding-left: 40px;
    padding-top: 40px;
    height: 88%;
    width: 50%;
    clip-path: polygon(0% 0%, 100% 0,70% 100%, 0% 100%);
}

main #sobre h2 {
    margin-bottom: 30px;
    width: 80%;
}

main #sobre p {
    width: 75%;
}

main #como_ajudar {
    background-image: url(img/emocoes-puras-e-felicidade.jpg);
    margin-top: 0;
}

main > #como_ajudar {
    display: flex;
    justify-content: right;
}

main > #como_ajudar > div {
    background-image: linear-gradient(140deg, rgba(0, 0, 0, 0.822) 100%, transparent);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    height: 88%;
    width: 50%;
    clip-path: polygon(0% 0%, 100% 0,100% 100%, 30% 100%);
    justify-content: right;
}

main > #como_ajudar > div > h2 {
    text-align: right;
    padding-left: 10px;
    width: 100%;
    margin-bottom: 30px;
}

main > #como_ajudar > div > p {
    width: 100%;
    padding-left: 10px;
    text-align: right;
}

footer {
    background-image: url(https://s.tmimgcdn.com/scr/800x500/297400/textura-de-fundo-preto-escuro_297412-original.jpg);     
    background-size: 30%;
    background-color: black; 
    color: whitesmoke;
    margin: auto;
    height: auto;
}

footer a:hover {
    color: rgb(212, 207, 207);
    transition: 0.35s;
}

.rodape {
    display: flex;
    justify-content: space-evenly;
    margin: 0 40px;

    
    
}
.col1 {
    display: flex;
    justify-content: center;    
    margin: 0 30px;
    
}
.ul1 {
    margin: 0 120px;
    font-size: 1.0em;
    margin-top: 20px;
    
     
}
hr{ 
    border: 0.3px thin;    
    border-color: rgba(255, 255, 255, 0.486);
    width: 90%;    
    margin: 20px auto;

}
.footerbottom {
    display: flex;
    justify-content: space-between;
    align-items: center; /*alinhamento horizontal */
    padding: 7px;
}
.bottom {
    display: inline-flex;
    margin: 0 40px;
}
.part1bot > a {
    margin: auto 20px;
}
#copyright::before {
    content: '\00a9';
    margin-right: 5px;
}
.part2bot > a {
    margin: auto 10px;
}
.part2bot {
    position: relative;
    margin-inline-start: 50px;
    
}
svg{
    width: 25px;
    height: 25px;
}

@media (max-width: 1650px) {
    .ul1 {
        margin: 0 60px;
        font-size: 1.0em;
        margin-top: 20px;
    }
}

@media (max-width: 1220px) {
    .ul1 {
        margin: 0 20px;
        width: auto;
        margin-top: 20px;
    }
}

@media (max-width: 770px) {
    footer{
        margin: auto;
        width: auto;
    }
    .ul1 {
        font-size: auto;
        margin: 5px 10px;
        margin-top: 20px;

        
    }
    
    .col1 {
        display: block;
        margin: 0 auto;
    }
    .impar, .par{
        margin: 20px;

    }
    .footerbottom{
        display: flex;
        flex-direction: column;
    }
    .part1bot {
        order: 2;
        margin-top: 30px;
        font-size: 1em;
    }
    .part2bot{
        order: 1;
        
    }
    .part2bot > a {
        margin: auto 20px;
    }
}
