.form--section {
    align-items: center;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

.icon-1 {
    background-color: var(--color-3);
    background-image: url(../img/icon-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100%;
}

.form {
    background-color: var(--color-3);
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    padding: 1em;
    row-gap: 1em;
    width: 100%;
}

#form--checkbox {
    font-size: 13px;
}

#form--button {
    transition: 0.5s;
}

.form--link {
    display: flex;
    gap: 0.3em;
}

.form--link > span {
    font-size: 13px;
}

.form--link > a {
    color: var(--color-2);
    font-size: 13px;
    transition: 0.5s;
}

.form--link > a:hover {
    color: var(--color-1);
}

.form--link > a:active {
    color: var(--color-2);
}

@media (max-width: 480px) {
    .icon-1 {
        background-size: 4em;
        padding: 2em;
    }
}

@media (min-width: 481px ) and (max-width: 768px) {
    .icon-1 {
        background-size: 4.5em;
        padding: 2.3em;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .icon-1 {
        background-size: 5em;
        padding: 2.6em;
    }
}

@media (min-width: 1025px) and (max-width: 1200px) {
    .icon-1 {
        background-size: 5.5em;
        padding: 2.9em;
    }
}

@media (min-width: 1201px) {
    .icon-1 {
        background-size: cover;
        padding: 3em;
    }
}
